
.backgroundLinear {
    background-image: linear-gradient(to bottom, white, rgb(248, 156, 123));
    margin: 0 0 4rem 0;
}
.backgroundOrange {
    background-color: rgb(248, 156, 123);
    box-shadow: 3px 2px rgba(0, 0, 0, 0.226);
}
.backgroundWhite {
    background-color: white;
}
/*.borderTopOrange {
    border-top: 2px solid orangered;*/

/*.borderRightOrange {
    border-right: 2px solid orangered;
}
.borderLeftOrange {
    border-left: 2px solid orangered;
}
.borderBottomOrange {
    border-bottom: 2px solid orangered;
}
.borderOrange {
    border: 1px solid orangered;
} */
.centerText {
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 30px 150px;
}
.fancyText {
    font-weight: 600;
    color: orangered;
    margin: 1rem;
    padding: 1rem 0rem;
    border-right: 1px solid black;
  
}
.gridTopic {
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    grid-template-rows: 1fr;
    margin-bottom: 1rem;
    margin-top: auto;
}
 
.marginLeft {
    margin-left: 1rem;
}
.marginRight {
    margin-right: 1rem;
}
.marginTop {
    margin-top: 1rem;
}
.morePaddingSide {
    padding: 0 1.5rem; 
    margin-top: 2rem;
}
.paddingAround {
    padding: 1rem;
}
.signFormForum {
    /*border: 1px solid orangered;*/
    margin: 1rem 7rem;
    padding: 1rem;
    text-align: center;
}
#becomeBlogger {
    background-color: rgba(255, 68, 0, 0.473);
    width: 160px;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-left: 40%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.171);
}
.spaceSpin {
    margin: 0 .5rem;
}
.textBold {
    font-weight: 600;
}
.popularTopicButton {
    background-color: white;
    color: black;
    display: block;
    width: 8.5rem;
    margin: 1rem 1rem;
    border: none;
}
a.active {
    background-color: lightgrey !important;
    color: black !important;
}
.commentSubmit {
    text-decoration: none;
    color: black;
    /*margin-left: 1rem;*/
}
a.commentSubmit:hover {
    color: black;
}

@media only screen and (max-width: 600px) {
    .rightMArginSmallScreen {
      margin-right: 1rem;
    }
  }
  #japaneseFoodContainer {
    background-color: rgba(255, 68, 0, 0.473);
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#japaneseFoodBackground {
    background-image: url(photos/traditional-japanese-breakfast-ideas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 200px;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blogBanner {
    color:white;
    /*border: 2px solid rgba(0, 0, 0, 0.514);*/
    background-color: rgba(255, 68, 0, 0.295);
    font-size: 2.6em;
    text-align: left;
    text-shadow: 1px 1px black;
    padding-left: 5px;
  }
  
#letsTalkAboutIt {
    /*border: 2px solid rgba(0, 0, 0, 0.514);*/
    background-color: rgba(255, 68, 0, 0.295);
    font-size: 2.6em;
    text-align: right;
    text-shadow: 1px 1px black;
    padding-right: 5px;
  }
h2 {
    margin: 0;
}
a {
    color: white;
}
h4 {
    color: white;
}
#breakfastSearchIcon a {
    color: black;
}
#signUpForum{
    background-color: rgba(255, 68, 0, 0.473);
    padding: 3px 5px;
    border-radius: 3px;
}
#signUpIcon a {
    color: black;
}