#waffleContainer {
    background-color: rgba(255, 68, 0, 0.473);
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #waffleBackground {
    background-image: url("photos/contactusbackground.webp"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 200px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .country {
    color: white;
    text-shadow: 1px 1px black;
    background-color: rgba(255, 68, 0, 0.473);
    font-size: 2.6em;
    padding-left: 5px;
  }
  
  .foodName {
    color: white;
    text-shadow: 1px 1px black;
    background-color: rgba(255, 68, 0, 0.473);
    font-size: 2.6em;
    text-align: right;
    padding-right: 5px;
  }
  
  h2.foodName {
    margin-bottom: 0;
  }

.eggToastBackground {
    background-image: url("photos/eggToast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 445px; */
    height: 533px;
    background-position: center;
    color: white;
    text-align: center;
    display: table;
    margin-bottom: 30px;
}

form {
    padding: 30px 20px;
}

.form-control {
    width: 320px;
}

#contactUsText {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.397);
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

#contactUsContainer {
    display: flex;
}

.bigForm {
    background-color: rgba(255, 68, 0, 0.473);
}

.smallForm {
 background-color: rgba(128, 128, 128, 0.37);
 margin-top: 20px;
}

.form-group {
    width: 445px;
}

.col-sm-10 {
    padding: 0;
}

.container {
    padding: 0;
}