/* In your html, the <div id="container"> should be the first piece of code
and will contain every other piece of code.*/
#container {
    width: 960px;
    margin: 5px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}
header {
    font-weight: bold;
    font-size: 1.8rem;
    color: orangered;
    text-align: center;
}

/*This is for test.html for now */
.headerNavbar {
    justify-content: center;
}

/* I wrote the html code for the Footer. It's in a .txt file in the team repository.*/
#footerBreakfast {
    display: flex;
    padding: 5px;
    color: orangered;
    background-color: white;
}
#signUpNewsletter {
    width: 225px;
}
#signUp {
    border: none;
    background-color: rgb(248, 156, 123);
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(131, 130, 130);
}
#signUp :hover {
    color: orangered;
    text-decoration: none;
}
#signUp a {
    color: white;
}
#socialIcons {
    color: rgb(248, 156, 123);
}
#socialIcons a {
    color: rgb(248, 156, 123);
    letter-spacing: 10px;
    font-size: 1.1rem;
}

/* #navBar should be the name of the div that holds the nav,
Pick A Country drop-down, and search bar.*/
#navBar {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.hamburgerToggler {
    color: orangered;
}

/* We'll be using ul's and li's for the actual nav.*/
#navBar ul {
    list-style-type: none;
    text-indent: none;
    padding: 0;
    margin-bottom: 0;
}

#navBar li {
    margin: 0 15px 0px 0;
    display: inline-block;
}
#navBar a {
    color: orangered;
}
#navBar li :hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}
#pickCountry {
    height:30px;
    width: 125px;
    border: none;
    background-color: rgb(248, 156, 123);
    color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.288);
}
#searchBarNav {
    width: 230px;
    height: 25px;
    color: black;
    font-size: 1rem;
    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.247);
}

#navBar input {
    width: 200px;
    border: none;
    outline: none;
    margin: 0 0 0 5px;
    padding: 0px;
}