#waffleContainer {
    background-color: #FF9933;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #waffleBackground {
    background-image: url("photos/misalpav.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .country {
    color: #000080;
    text-shadow: 1px 1px white;
    background-color: rgba(255, 255, 255, 0.644);
    font-size: 2.6em;
    padding-left: 5px;
  }
  
  .foodName {
    color: #000080;
    text-shadow: 1px 1px white;
    background-color: rgba(255, 255, 255, 0.644);
    font-size: 2.6em;
    text-align: right;
    padding-right: 5px;
  }
  
  h2.foodName {
    margin-bottom: 0;
  }

  .ingPrepTabArea {     /*Add This*/
    margin-top: 2%;
  }

    /*Tab Box, Picture, Video*/

  .ingredientsList {
    list-style: circle;
  }
  
  .ingredientsList li {
    margin-bottom: 5px;
  }
  
  #prepList li {
    margin-bottom: 5px;
  }
  
  #carouselExampleIndicators {
    width: 420px;
    margin: 5% 0 5% 10%;
    max-height: 250px;
  }
  
  #foodVideo iframe {
    width: 420px;
    margin-left: 10%;
    justify-self: center;
    height: 283px;
  }
  
  #foodInfo {
    background-color: #FF9933;
    text-indent: 50px;
    padding: 2%;
    text-align: justify;
    text-justify: inter-word;
    margin: 2% 0;
    box-shadow: 1px 2px grey;
  }
  
  #rateAndComment {
    display: flex;
    height: auto;
    box-shadow: 1px 2px grey;
  }
  
  .label {
    width: 55%;
    margin: 20px;
  }
  
  .rateAndCommentButton {
    margin: 10px;
  }
  
  #starRating {
    display: flex;
    margin: 10px;
  }
  
  .checked {
    color: gold;
  }
  
  .profilePicture {
    width: 80px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 20px 30px;
  }
  
  #commentBoxes {
    box-shadow: 1px 2px grey;
    border-top: none;
    height: 655px;
    overflow: scroll;
    margin-bottom: 15px;
  }

  .row.no-gutters {     /*Add This*/
    margin-right: 0;
    margin-left: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  .username {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  #mostHelpfulReview {
    border: 3px dashed #000080;
    margin: 20px 10px;
  }
  
  .nextComment {
    box-shadow: 1px 2px grey;
    margin: 10px;
  }
  
  .likes {
    float: right;
    margin: 5px;
  }
  
  #moreFoodsColumn {
    color: white;
    background-color: #B22234;
    box-shadow: 1px 2px grey;
    width:232px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .moreFoodsColumnImage {
    width: 200px;
    border-radius: 25%;
    height: 165px;
    display: block;
    margin: 20px auto;
    box-shadow: 1px 2px grey;
  }
  
  #moreFoodsColumnTitle {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
    width: 200px;
  }
  
  /*TAB CSS - DO NOT BREAK OR INSERT ANYTHING */
  /* Style the tab */
  .tab {
      overflow: hidden;
      box-shadow: 1px 2px grey;
      background-color: white;
    }
    
    /* Style the buttons inside the tab - CHANGE COLORS ONLY*/
    .tab button {
      margin-bottom: 10px;
      width: 30%;
      margin-left: 13%;
      color: #000080;
      background-color: #138808;
      float: left;
      box-shadow: 1px 2px grey;
      border-top: none;
      border-bottom: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #138808;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color:#FF9933;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      box-shadow: 1px 2px grey;
      border-top: none;
      height: 500px;
      overflow: scroll;
    }
  
    @media {
      .carousel-item>img {
          max-height: 250px;
      }
    }
  /*END OF TAB STYLE CONTENT HERE*/

  @media only screen and (max-width: 600px) {
    .tabcontent {
      height: fit-content;
      margin-bottom: 1rem;
    }
    #moreFoodsColumn {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
    #moreFoodsColumnTitle {
      margin: 0;
      display: flex;
      align-self: center;
    }
  }