#waffleContainer {
    background-color: rgba(255, 68, 0, 0.473);
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#waffleBackground {
    background-image: url(photos/techniquebanner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 200px;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#waffleBackground h2 {
    margin-top: 0;
    background-color: rgba(255, 68, 0, 0.473);
    font-size: 2.6em;
    text-shadow: 1px 1px black;
    padding-left: 5px;
}

#pickCountry {
   font-size: .875rem;
}
.fullHeight {
    height: 100%;
}
.gradientBackground {
    background-image: linear-gradient(to bottom, white, rgb(248, 156, 123));
    padding: 1rem 1rem 0 1rem;
}
.imageBackground {
    background-image: url(photos/technique_background.jpg);
    background-repeat: no-repeat;
    background-size: 33% 100%;
    line-height: 1.8rem;
    margin-right: 0;
}
.imagePadding {
    padding: 1rem;
}
.narrowPaddingLeft {
    padding-left: .25rem;
}
.zeroPaddingRight {
    padding-right: 0;
}

.navPillStyle {
    background-color: white;
    color: black;
    text-align: center;
    margin: 1rem 0;
}
.active {
    background-color: white !important; 
    color: orangered!important;
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: bottom;
    
}
p.blackText {
    color: black;
    display: block;
    margin-top: 2rem;
    text-align: center;
    }


@media only screen and (max-width: 600px) {
    .imageBackground {
      background: white;
    }
} 
@media only screen and (min-width: 600px) {
    .smallDisplay {
      display: none;
    }
} 
.color-orangered {
    color: orangered;
}
